.edit-noticia-container{
    width: 100%;
    height: 100%;
    min-height: 80vh;
    background-color: #efefef;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.edit-noticia-container .edit-noticia-content{
    width: 60%;
    min-width: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;

    margin-top: 20px;
}
.edit-noticia-container .edit-noticia-content .header-add-noticia{
    width: 100%;
    max-width: 700px;
    min-width: 270px;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    background-color: rgba(156, 203, 230, 0.632);
    padding: 10px 20px;

    display: flex;
    justify-content: center;
    align-items: center;
}
.edit-noticia-container .edit-noticia-content .header-add-noticia h2{
    width: 100%;
    max-width: 700px;
    min-width: 270px;
    text-align: center;
}
.edit-noticia-container .edit-noticia-content form{
    display: none;
}
.edit-noticia-container .edit-noticia-content form{
    width: 700px;
    min-width: 270px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}
.edit-noticia-container .edit-noticia-content form label{
    margin-top: 20px;
}
.edit-noticia-container .edit-noticia-content form input[type=text]{
    width: 100%;
    min-width: 270px;
    border: 1px solid rgba(0,0,0,.5);
    border-radius: 10px;
    padding: 10px 20px;
}
.edit-noticia-container .edit-noticia-content form input[type=submit]{
    width: 40%;
    max-width: 500px;
    min-width: 200px;
    align-self: flex-end;
    margin-right: 20px;
    padding: 10px 20px;
    border-radius: 10px;
    background-color: rgb(156, 203, 230);
    border: 1px solid rgba(0,0,0,.5);
    transition: all .4s;
    cursor: pointer;
}
.edit-noticia-container .edit-noticia-content form input[type=submit]:hover{
    background-color: rgb(191, 221, 238);
}
.edit-noticia-container .edit-noticia-content form textarea{
    width: 100%;
    min-width: 270px;
    border: 1px solid rgba(0,0,0,.5);
    border-radius: 10px;
    padding: 10px 20px;
    margin-bottom: 20px;
}
